<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin-top: 150px; margin-left: 350px; ">
    <form method="POST" action="{% url 'save_product' %}" enctype="multipart/form-data">
    {% csrf_token %}
        <select name="category">
            <option>Select Category</option>
            {% for d in category %}
            <option>{{d.name}}</option>
            {% endfor %}

        </select><br><br><br><br>
    <input  name="pro_name" placeholder="Product Name"><br><br>
        <input  name="pro_brand" placeholder="Product brand"><br><br>
        <input  name="pro_price" placeholder="Product price"><br><br>
    <label>Description</label><br><br>
        <textarea name="description"></textarea><br><br>
        <input name="image1" type="file" placeholder="image"><br><br>
        <input name="image2" type="file" placeholder="image"><br><br>
        <input name="image3" type="file" placeholder="image"><br><br>
    <button class="btn btn-outline-primary" type="submit">submit</button>

</form>



</div>
</body>
</html>
{% endblock %}